/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

@media screen and (max-width: 1080px) {
  body {
    font-size: 14px;
  }
}

/* layout for the whole project */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
}


header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


/*Navbar*/

.nav-img {
  display: flex;
  width: 30%;
  padding-right: 1%;
  padding-left: 1%;
}


.nav-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.nav-container a {
  color: #fff;
  text-decoration: none;
  margin-right: 2.5%;
  align-items: center;
  min-width: 10px;
}

.nav-container a:hover {
  color: yellow;
}

.nav-container a.active {
  color: red;
}

.nav-container h1 {
  margin: 0;
  font-size: 2rem;
  padding-right: 35px;
}





/*Homepage this is for Home.js*/

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ccc;
}


.carousel {
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.carousel-header {
  font-family: "Poppins";
  color: #333;
}


.carousel .arrow {
  position: absolute;
  top: 50px;
  bottom: 50px;
  transform: translateY(-50%);
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  cursor: pointer;
  margin-left: 35%;
  margin-right: 35%;
}

.carousel .arrow.prev {
  left: -20px;
  border-right: 25px solid gray;
}

.carousel .arrow.next {
  right: -20px;
  border-left: 25px solid gray;
}

.carousel img {
  position: relative;
}

img.carousel-img {
  width: 20%;
  height: 20%;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.modal-description-container {
  width: 50%;
  padding: 20px;
  background-color: #f2f2f2;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ccc;

}


/*Brewpage*/



/*BrewRecipeDetails*/


/*BrewRecipe Form* this is also used oint he login and signiup section*/

.newrecipe-header {
  margin-left: 38%;
}

label, input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background-color: #333;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

/*Sign up and Login Pages - Auth Forms*/

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 10px;
}

form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
}


/*Step card and brewing101 page* this section has code Stepcard.js, Brewing101.js and Modal.js/

/* StepCard styles */
.step-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}


.step-card:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.step-card-img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}


.step-card h3 {
  margin-top: 10px;
  text-align: center;
}

.step-card p.description {
  /* Hidden by default */
  position: absolute;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.step-card.expanded p.description {
  /* Shown when expanded */
  max-height: 200px;
}



.step-card.expanded p {
  max-height: 100px;
  margin-top: 10px;
}

.description {
  overflow: auto;
  max-height: 150px;
}


/* Brewing101 styles */

.brewing101-title {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.step-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



/*design for the modal description using visibility*/

.modal-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  /* hides the modal by default */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0.5s ease-in-out;
}



.modal-overlay.open {
  visibility: visible;
  /* shows the modal when the class "open" is applied */
}



.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  overflow-y: auto;
  width: 80%;
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add styles for the close button */
.modal-content button {
  position: absolute;
  top: 10px;
  background: rgb(219, 227, 104);
  border: none;
  color: #fff;
  font-size: 18px;
  align-self: center;
}


/* Add styles for the modal content container */
.modal-content p {
  margin: 10px;
  text-align: center;
}

/* Add styles for the modal overlay when it's clicked */
.modal-overlay:active {
  visibility: hidden;
}

/* Add media queries for different screen sizes */
@media only screen and (max-width: 600px) {
  .modal-content {
    width: 90%;
  }
}

@media only screen and (max-height: 400px) {
  .modal-content {
    max-height: 90%;
  }
}


/*END Step card and brewing101 page*/


/*START brewrecipe form and createbrew.js styling section*/

form.create-recipe {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ccc;
}

form.create-recipe h2 {
  text-align: center;
  margin-bottom: 2rem;
}

form.create-recipe label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
}

form.create-recipe input[type="text"],
form.create-recipe select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
}

form.create-recipe input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}